.movie {
    width: 138px;
    height: 188px;
    /*padding: 4px;*/
    /*margin-bottom: 60px;*/
}

/*p {
white-space: nowrap;
}*/

.title {
    font-weight: 650;
}

.legend {
    width: 100%;
    font-size: 12px;
    padding: 0px;
    text-align: left;
    display: inline-block;
}

.sublegend {
    margin-bottom: 8px;
    font-style: italic;
}

/*Esse tbm ficou legal
.movie {
    width:130px;
    height:166px;
}*/