
.category {
    font-size: 0.58rem;
    font-weight: 900;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.better {
    width: 138px;
    height: 188px;
    background-color: red;
    cursor: pointer;
    /*padding: 4px;*/
    /*margin-bottom: 60px;*/
}

 .movie {
    width: 138px;
    height: 188px;
    /*border: solid 1px white;*/
    cursor: pointer;
    /*padding: 4px;*/
    /*margin-bottom: 60px;*/
}
.movie:hover {
    /*border: solid 5px #dec933;*/
    opacity: 0.9;
}

/*p {
white-space: nowrap;
}*/

.title {
    font-weight: 650;
}

.legend {
    width: 100%;
    font-size: 12px;
    padding: 0px;
    text-align: left;
    display: inline-block;
}

.sublegend {
    margin-bottom: 8px;
    font-style: italic;
}

/*Esse tbm ficou legal
.movie {
    width:130px;
    height:166px;
}*/